.container-text {
    @include flex-column-center;
    gap: $space-min;
    background-color: none;
    }
@media (min-width: $tablet) {
    .container-text {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      justify-content: center;
    }
}
.ccarousel-inner {
  display: block;
  width: 100%;
  height: 200px;
}
.carousel-item active,carousel-item {
  height: 100%;
  width: 100%;
}